<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>MARUTI-A</title>
</head>

<body>
    <h1>Admin Portal</h1>
    <button><a href="/">Logout</a></button>
    <div>
        <h2>Add User</h2>
        <form action="/admin" method="post" class="newForm flex">
            <input type="text" name="newName" placeholder="name" class="newUserInput">
            <input type="number" name="newSSN" placeholder="ssn" class="newUserInput">
            <br>
            <select name="newGender" class="newUserInput" style="font-size: medium;">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
            <input type="number" name="newSalary" placeholder="salary" class="newUserInput">
            <br>
            <input type="text" name="newDesignation" placeholder="designation" class="newUserInput">
            <select name="newDepartment" id="cars" class="newUserInput" style="font-size: medium;">
                <option value="marketing">Marketing</option>
                <option value="finance">Finance</option>
            </select>
            <br>
            <input type="number" name="newExperience" placeholder="experience(in years)" class="newUserInput">
            <input type="date" name="newDateofjoin" placeholder="dateofjoin" class="newUserInput">
            <br>
            <button type="submit" name="newButton" style="width: 8rem; height:2rem; margin-top:1.5rem">Create
                User</button>
        </form>
    </div>
    <br>
    <br>
    <br>
    <div>
        <h2>Employee Data</h2>
        <table class="center">
            <tr>
                <th>Name</th>
                <th>SSN</th>
                <th>Gender</th>
                <th>Salary</th>
                <th>Designation</th>
                <th>Department</th>
                <th>Experience</th>
                <th>Date of Join</th>
                <th>Delete</th>
                <th>Modify</th>
            </tr>
            <% newEmployeeItems.forEach(function(item){ %>
                <form action="/delete" method="post">
                        <tr>
                            <td>
                                <%= item.name %>
                            </td>
                            <td>
                                <%= item.ssn %>
                            </td>
                            <td>
                                <%= item.gender %>
                            </td>
                            <td>
                                <%= item.salary %>
                            </td>
                            <td>
                                <%= item.designation %>
                            </td>
                            <td>
                                <%= item.department %>
                            </td>
                            <td>
                                <%= item.experience %>
                            </td>
                            <td>
                                <%= item.date_of_join %>
                            </td>
                            <td>
                                <% if(item.salary > 1000000){ %>
                                    <button type="submit" class="deleteButton" value="<%= item._id %>" name="deleteButton">DELETE</button>
                                <% }else{ %>
                                    <span>-</span>
                                <% } %>
                            </td>
                        </form>
                            <td>
                                <form action="/modify" method="post">
                                    <% if(item.salary > 1000000){ %>
                                    <button type="submit" class="modifyButton" value="<%= item._id %>" name="modifyButton">MODIFY</button>
                                    <% }else{ %>
                                        <span>-</span>
                                    <% } %>
                                </form>
                            </td>
                        </tr>
            <% }) %>
        </table>
        
        
        
        <br>
        
    </div>
</body>

</html>