<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>MARUTI-U</title>
</head>

<body>
    <h1 class="mainheader">User Portal</h1>
    <button class="button"><a href="/">Logout</a></button>
    <div>
        <h2 style="margin-top: 3rem;">Search employee by ID/SSN</h2>
        <form action="/search" method="post">
            <input type="number" placeholder="enter ssn" name="searchBySSN">
            <button type="submit" class="button">Search</button>
        </form>
    </div>
    <div>
        <h2 class="title">Employee Data</h2>
        <table class="center">
            <tr>
                <th>Name</th>
                <th>SSN</th>
                <th>Gender</th>
                <th>Salary</th>
                <th>Designation</th>
                <th>Department</th>
                <th>Experience</th>
                <th>Date of Join</th>
            </tr>
            <% newEmployeeItems.forEach(function(item){ %>
                <tr>
                    <td><%= item.name %></td>
                    <td><%= item.ssn %></td>
                    <td><%= item.gender %></td>
                    <td><%= item.salary %></td>    
                    <td><%= item.designation %></td>
                    <td><%= item.department %></td>
                    <td> <%= item.experience %></td>
                    <td><%= item.date_of_join %></td>
                </tr>
            <% }) %>
        </table>
    </div>
</body>

</html>