<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>TATA-S</title>
</head>
<body>
    <h1>Search Result</h1>
    <br>
    <br>
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <br>
    <br>
    <br>
    <div>
        <% if(status === 1){ %>
            <div>
                <span><b>Name - </b><%= data.name %></span>
                <span><b>SSN - </b><%= data.ssn %></span>
                <span><b>Gender - </b><%= data.gender %></span>
                <span><b>Salary - </b><%= data.salary %></span>
                <span><b>Designation - </b><%= data.designation %></span>
                <span><b>Department - </b><%= data.department %></span>
                <span><b>Experience - </b><%= data.experience %></span>
                <span><b>Date Of Join - </b><%= data.date_of_join %></span>
            </div>
        <% }  else{  %>
            <span>User not found!</span>
        <% }%>
    </div>
</body>
</html>